.main {
	position: relative;
	z-index: 0;

	.controls {
		margin-bottom: 1em;
	}

	.tracks {
		padding-bottom: 1px;
		overflow-y: hidden;
		max-height: calc(100vh - 8px - 2em - 0.4em - 2em - 0.5em);

		&.long {
			overflow-y: scroll;
		}
	}

	// .footer {
	// 	position: fixed;
	// 	bottom: 0;
	// }
}
